{% extends "classify/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
	<div id="sidebar">
		<div id="minimap"></div>
		<form id="selection-form" onsubmit="sendBoxes()" method="post">
			{% csrf_token %}
		</form>
		<button onclick="undoBox()">Delete Selected Box</button>
		<button onclick="clearBoxes()">Clear Boxes</button>
		</br>
		<button onclick="sendBoxes()">Submit</button>
		<p id="sending">Sending information...</p>
		<p id="warning">Some boxes were not sent correctly</p>
		<p><a href="{% url 'tags/download' %}">download tags</a></p>
	</div>
	<div id="bigMap">
		<div id="map"></div>
	</div>
</div>
<script src="{% static 'classify.js' %}"></script>
{% endblock %}
